@model ControleGlicemia_002.ViewModel.GlicemiaViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir</h1>

<h3>Confirmação de exclusão de registro</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GlicemiaMedida)
        </dt>
        <dd class="col-sm-10 fst-italic">
            @Html.DisplayFor(model => model.GlicemiaMedida)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataMedicao)
        </dt>
        <dd class="col-sm-10 fst-italic">
            @Html.DisplayFor(model => model.DataMedicao) - @Html.DisplayFor(model => model.HoraMedicao)
        </dd>
        @*     <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.HoraMedicao)
        </dt>
        <dd class = "col-sm-10 fst-italic">
        @Html.DisplayFor(model => model.HoraMedicao)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataAplicacao)
        </dt>
        <dd class="col-sm-10 fst-italic">
            @Html.DisplayFor(model => model.DataAplicacao) - @Html.DisplayFor(model => model.HoraAplicacao)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoraAplicacao)
        </dt>
        <dd class="col-sm-10 fst-italic">
            @Html.DisplayFor(model => model.HoraAplicacao)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoseRegular)
        </dt>
        <dd class="col-sm-10 fst-italic">
            @Html.DisplayFor(model => model.DoseRegular)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoseAjuste)
        </dt>
        <dd class="col-sm-10 fst-italic">
            @Html.DisplayFor(model => model.DoseAjuste)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>
        <dd class="col-sm-10 fst-italic">
            @Html.DisplayFor(model => model.Observacao)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="GlicemiaID" />
        <input class="btn btn-danger btn-sm" type="submit" value="Excluir" />
        <a class="btn btn-secondary btn-sm" asp-action="Index">Voltar...</a>
    </form>
</div>
